.loginbtn{
    border: 3px solid #00732F;
    padding: 10px 40px;
    border-radius: 5px;
    color: #00732F;
    font-size: 15px;
    font-weight: 700;
}
.navLink{
    font-size: 15.25px;
    font-weight: 400;
    color: #6D6E71;
}

/*  */
.dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-toggle {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 4px;
  }
  
  .dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    margin-top: 5px;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    list-style: none;
    padding: 10px 0;
    min-width: 150px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
  }
  
  .dropdown-menu li {
    padding: 8px 15px;
    cursor: pointer;
  }
  
  .dropdown-menu li:hover {
    background-color: #f5f5f5;
  }
  